.slider {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background: rgba(196, 196, 196, 0.4);

	.slider__container {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		min-height: 100vh;

		img {
			width: 289px;
			height: 248px;
			object-fit: cover;
			border-radius: 5px;
		}
		p {
			color: $primaire1;
			width: 289px;
			margin-top: 10px;
		}
	}
	.slider__next {
		background: url('../assets/icons/chevron-right-solid.svg') center center /
			100% 100%;
		border: none;
		cursor: pointer;
		position: fixed;
		right: 20px;
		text-indent: -10000px;
		top: 50%;
		width: 13px;
	}
	.slider__previous {
		background: url('../assets/icons/chevron-left-solid.svg') center center /
			100% 100%;
		border: none;
		cursor: pointer;
		position: fixed;
		left: 20px;
		text-indent: -10000px;
		top: 50%;
		width: 13px;
	}

	.slider__close {
		background: url(../assets/icons/times-solid.svg) center center / 100% 100%
			no-repeat;
		border: none;
		position: fixed;
		right: 20px;
		top: 31%;
		width: 13px;
		text-indent: -10000px;
		z-index: 12;
	}
}

@media (min-width: 1280px) {
	.slider {
		.slider__container {
			img {
				width: 1050px;
				height: 900px;
				object-fit: cover;
			}
			p {
				width: 1050px;
				font-size: 24px;
			}
		}

		.slider__next {
			background: url('../assets/icons/chevron-right-solid.svg') center center /
				100% 100%;
			border: none;
			cursor: pointer;
			position: fixed;
			right: 50px;
			text-indent: -10000px;
			top: 50%;
			width: 48px;
			height: 29px;
		}
		.slider__previous {
			background: url('../assets/icons/chevron-left-solid.svg') center center /
				100% 100%;
			border: none;
			cursor: pointer;
			position: fixed;
			left: 40px;
			text-indent: -10000px;
			top: 50%;
			width: 48px;
			height: 29px;
		}

		.slider__close {
			background: url(../assets/icons/times-solid.svg) center center / 100% 100%
				no-repeat;
			border: none;
			position: fixed;
			right: 50px;
			top: 0;
			width: 42px;
			height: 42px;
			text-indent: -10000px;
			z-index: 12;
		}
	}
}
